{{title}}
{{!-- <h3>Id:</h3> <p>{{profiel.biografie}}</p><br/> --}}
<h3>Id:</h3> <p>{{profielen.opleidingsNiveau}}</p><br/>
{{!-- <h3>Id:</h3> <p>{{profiel.functie}}</p><br/> --}}
<h3>Id:</h3> <p>{{profielen.dienstverband}}</p><br/>
{{!-- <h3>Id:</h3> <p>{{profiel.bedrijfsgrootte}}</p><br/> --}}