{{> logo-header}}
<main class="resultaten">
    <h1>Opgeslagen Vacatures</h1>

    {{#each users}}
    <section class='opgeslagenVacatures'>
        <div>
            <h2 class="salaris">{{vacatureTitel}}</h2>
            <h3 class="salaris">{{bedrijfsNaam}}</h3>
            <h4 class="salaris">{{plaats}}</h4>
            <h4 class="salaris">{{salaris}},- per maand</h4>

            <p class="description">{{vacatureInformatie}}...Philips is een groot bedrijf in het hart van Haarlem
                en
                ze zijn momenteel op
                zoek naar
                een nieuwe UX Designer.</p>
        </div>
    </section>
    {{/each}}
    <main>
        {{> navigatie-footer}}