{{> logo-header}}

<main class="resultaten">

    <h1>Resultaten</h1>
    {{#if errors}}
    {{#each errors}}
    <div class="error2">
        <strong>{{this.message}}</strong>
    </div>
    {{/each}}
    {{/if}}
    <section class="flex-resultaten">

        {{#each vacatures}}

        <div class="card">

            <div class="topcardwrapper">
                <h2>{{vacatureTitel}}</h2>
                <form action="/resultaten" method="POST">
                    <button class="savebutton" type="submit" name="vacatureID" value={{_id}}><img id="heart"
                            class="saveimage" src="images/savebutton.svg" alt="save"></button>
                </form>
                {{!-- <a id="savebutton" class="savebutton" href=""><img id="heart" class="saveimage" src="images/savebutton.svg" alt="save"></a> --}}
            </div>

            <h3>{{bedrijfsNaam}}</h3>
            <h4>{{plaats}}</h4>
            <p class="description">{{vacatureInformatie}}</p>

            <a href="{{link}}" target="_blank">Contact</a>
        </div>
        {{/each}}
    </section>

    <script src="/scripts/resultatenpagina.js"></script>

</main>
{{> navigatie-footer}}