{{> logo-header}}

<main class="resultaten">
    {{#each users}}
    <div>
        <h2>{{vacatureTitel}}</h2>
        <h3>{{bedrijfsNaam}}</h3>
        <h4>{{plaats}}</h4>
        <h4 class="salaris"></h4>{{salaris}},- per maand</h4>
        {{!-- waarom werkt het alleen in classes?? --}}
        <p class="description">{{vacatureInformatie}}...Philips is een groot bedrijf in het hart van Haarlem
            en
            ze zijn momenteel op
            zoek naar
            een nieuwe UX Designer.</p>


        {{!-- <div class="opslaanButton"> --}}
            <form action="/opgeslagenvacatures" method="POST">
                <button type="submit" name="userid" value={{_id}}>opslaan</button>
            </form>
            {{!--
        </div> --}}
    </div>

    {{/each}}
</main>
{{> navigatie-footer}}

{{> navigatie-footer}}